<div class="sm_results_details">

	<div class="sm_results_details_logo">
   	<img src="images/clanwars/ownlogo.png" alt="" />
    <span>$squad</span>
    </div>
    
    <div class="sm_results_details_score">
    $results_1 : $results_2
    <span>$league</br>$map</span>
    </div>
    
    <div class="sm_results_details_logo">
   	$opponent_logo
    <span>$ds[opponent]</span>
    </div> 
    
    <div style="clear:left;"></div>
    <div class="sm_results_report">
    <h3>Match Report</h3>
    $report    
    </div>
    
    <div class="sm_results_screenshots">
    <h3>Screenshots</h3>
    $screenshots
    </div>
    
    <div style="clear:left;">$adminaction</div>
    
    
</div>
	
      
    
    
















<!---

 <div class="sm_results_score">
    	$results
    </div>


	<div class="sm_results_home" style="text-align:left;">
    	<img style="float:left; margin:0 10px 0 0;" src="images/clanwars/$banner" alt=""/> $ds[opponent]
        <span style="float:right; padding:0 10px 0 0">$league</span>
    </div>


<div class="clanwars_details">
	
    <div class="clanwars_logo">
    	<span>$squad</span>
        <img src="images/clanwars/ownlogo.png" alt="" />
    </div>

    <div class="clanwars_score">
        $results_large1 $results_large2
    </div>


    <div class="clanwars_logo">
    	<span>$opponent</span>
        $opponent_logo
    </div>
	
</div>

<div class="match_details">

    <h2 style="background:url(./sm/core/h2_clear.png);">MATCH DETAILS <span style="float:right; padding-right:7px;">$adminaction</span></h2>
    <div class="match_details_report">$report</div>
    
        <div class="match_details_info">
        <table width="250px" border="0" cellspacing="0" cellpadding="3">
                <tr>
                <td>Maps:</td>
                <td>$map</td>
              </tr>
              <tr>
                <td width="25%">%date%:</td>
                <td width="75%"> $date Uhr</td>
              </tr>
              <tr>
                <td>%league%:</td>
            
                <td> $league <a href="http://$linkpage" target="_blank">[%matchlink%]</a></td>
              </tr>
              <tr>
                <td>HLTV:</td>
                <td> $hltv</td>
              </tr>
            </table>
        </div>
</div>



---!>