<div class="forum_reply">
<script language="JavaScript" type="text/javascript">
<!--
var post_submit = false;
function chkFormular() {
	if(document.getElementById('message').value == "") {
		alert("%enter_text%");
		document.getElementById('message').focus();
   		return false;
	}
	if(!validbbcode(document.getElementById('message').value)){
		return false;
	}
	if(post_submit == true){
		return false;
	}
	post_submit = true;
}

function ChangeFormAction() {
	if(document.getElementById('preview').checked == true) {
		document.post.action = "index.php?site=forum_topic";
	}
	else {
		document.post.action = "forum_topic.php";
	}	
}
-->
</script>

<form action="forum_topic.php" method="post" id="post" name="post" onsubmit="return chkFormular()">
		
    <div class="textarea">
        <h2 class="icon_news">Add your Reply</h2>
        <textarea name="message" id="message">$message</textarea>
        %html_off% &#8226; %bbcode_on% <span><input name="newreply" type="submit" value="%post_new_reply%"/></span>
    </div>
    
    <input type="hidden" name="userID" value="$userID" />
    <input type="hidden" name="board" value="$board" />
    <input type="hidden" name="topic" value="$topic" />
    <input type="hidden" name="page" value="$page" />
    <input type="hidden" name="addreply" value="true" />
    
</form>
</div>