<div class="forum_post">

    <div class="forum_left">
        <div class="forum_ava">$avatar</div>
        $username<br/>
        <small>$usertype</small><br/>
        $rang<br/>
        <small>$posts %posts%</small>
    </div>    
        
    <div class="forum_right">
        <div class="forum_top">$date, $time <span>$quote $actions &nbsp;</span></div><div style="clear: both;"></div> 
        $message
        <hr class="forum_hr"/>
        <span class="sig">$signatur</span>
    </div>

</div>