<form method="post" name="form" action="forum.php">
<div class="forum-topic" style="margin: 10px 0px 0px 0px;">
  <div class="forum-topic-content" $memberbg>
    <div class="left">
      $userpic
      $usertitle
      <span class="box">Posts <span style="color:#ccc;font-size: 11px;margin:1px 0px 0px 0px;float:right;">$posts</span></span>
      <span class="box">Registered <span style="color:#ccc;font-size: 11px;margin:1px 0px 0px 0px;float:right;">$registered</span></span>
      $actionsx
    </div>
    <div class="right">
      <span class="box">Post by $username, $date at $time<span style="float:right">$actions</span></span>
      <span class="box" style="margin:10px 0px 0px 0px;padding: 10px;width:435px;min-height:207px;">$message</span>
    </div>
  </div>
</div>