<div id="news_comments">
    <div class="news_comments_header" style="background:url(./images/bbcode/ws.jpg) left;">
		<div class="news_comments_headline">            
            <div class="news_comments_overlay">Site Imprint</div>                       
        </div>
	</div>
 
    <div class="news_content">
        $imprint_head
        </br>
        <h2>$headline2</h2>
        %coding_info%
        <h2>Site Design &amp; Adaption</h2>
        </br>
        The site design &amp; adaption is copyright to <a href="http://shamedia.net" target="_blank">Shamedia.net</a>
        </br>
        <h2>%disclaimer%</h2>
        </br>
        %disclaimer_text%
    </div>
</div>