    </ul>
  </div>
</div>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style="padding:10px 0px 0px 0px;">$page_link</td>
    <td align="right">
    <input class="input" type="checkbox" name="ALL" value="ALL" onclick="SelectAll(this.form);" /> %select_all%
    <select name="quickactiontype">
      <option value="viewed">%mark_viewed%</option>
      <option value="notviewed">%mark_not_viewed%</option>
      <option value="delete">%delete%</option>
    </select>
    <input type="submit" name="quickaction" value="%execute%" /></td>
  </tr>
</table>
</form>