<div id="profile">
	<div id="profile_head" style="background:url($userbanner) no-repeat;">
	
    $banned	
    
    <div id="profile_left">
    
        <div id="profile_pic">
    	$userpic
		</div>    
    
        <div class="profile_left_box">
            
            <h5>My Hardware</h5>
            <ul>
            		<li>
                    <span>CPU:</span><br/>
                    $cpu
                    </li>
                    
                    <li>
                    <span>Ram:</span><br/>
                    $ram
                    </li>
                    
                    <li>
                    <span>Graphics:</span><br/>
                    $graphiccard
                    </li>
                    
                    <li>
                    <span>Monitor:</span><br/>
                    $monitor
                    </li>
                    
          </ul>
        
        </div>
        
        <div class="profile_left_box">
            
            <h5>My Equipment</h5>
            <ul>
            		<li>
                    <span>Mouse:</span><br/>
                    $mouse
                    </li>
                    
                    <li>
                    <span>Keyboard:</span><br/>
                    $keyboard
                    </li>
                    
                    <li>
                    <span>Headset:</span><br/>
                    $soundcard
                    </li>
                    
                    <li>
                    <span>Mouse Pad:</span><br/>
                    $mousepad
                    </li>
                    
          </ul>
        
        </div>

        
    </div>
    
    <div id="profile_right">
    
        <div id="profile_details">
        
            <h3>$nickname</h3>
                
            <ul>
                <li>
                <span>Name:</span><br/>
                $firstname $lastname
                </li>
                
                <li>
                <span>Location:</span><br/>
                $profilecountry $town, $countryname
                </li>
                
                <li>
                <span>Age:</span><br/>
                $birthday
                </li>
                
        	
           </ul>
    
        </div>
        
        <div id="profile_social">
        
           		$mainboard
            	$clanhp
            	$clanirc
              
        </div>
               
        <div id="profile_right_box">
        
            <h5>About me</h5>
            <p>$about</p>
        
        </div>
        
        
    </div>
    
    
    
    

    
    
	</div>
</div>