<div class="profile-guestbook-comment">
  <img src="images/userpics/$gbookpic" width="38" height="50" alt="" style=" box-shadow: 0 0 7px #080808;float: left;" />
  <span style="width: 240px; border-bottom: 1px dotted #505050; padding: 5px; float: right;"><a href="user/$name/" style="color:#F26722; font-weight:bold;">$name</a><span style="color: #ccc; font-size: 10px; float: right;">$dcounttime$actions</span></span>
  <span style="width: 230px; color: #ccc; padding: 10px; float: right;">$message</span>
</div>