<div id="box-nextmatch">
          <div class="box-nextmatch-header">
            <h1>Next Match</h1>
          </div>
          <div class="box-nextmatch-content">
            <span class="phantoms">
              Phantoms
            </span>
            <span class="vs">VS</span>
            <span class="opponent" style="background: url(gfx/nextmatch/na.png) no-repeat top center;">
              No team
            </span>
          </div>
          <div class="box-nextmatch-info">
            <span class="date">No active match</span>
          </div>
        </div>