<div id="news_comments">
<div class="news_comments_header" style="background:url($rubricpic) top left;">

	<div class="news_comments_headline">

		<div class="news_comments_admin">$adminaction</div>
    
        <span>$anzcomments<img src="sm/core/comment.png"/></span>
        
        <div class="news_comments_overlay">
        <small>$date</small><br/>
        $title
        </div>
                   
	</div>

</div>
 
    <div class="news_content">
        $content
    </div>
    
    <div class="news_share">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <span class='st_reddit_hcount' displayText='Reddit'></span>
    </div>
    
    <div class="news_footer">
    $avatar <span>Article Posted By<br/>$poster</span>
    </div>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-7d53fc6f-e9b8-12d2-f027-7e13e87635d2", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
</div>