<div id="news_comments" style="margin:-10px 0 10px 0;">
    <div class="news_comments_header" style="background:url($rubricpic);">
    
        <div class="news_comments_headline">
           
            <span>$comments<img src="sm/core/comment.png"/></span>
            
            <div class="news_comments_overlay">
            <small>$date</small><br/>
            <a href="article/$articlesID/">$title</a>
            </div>
                       
        </div>
    
    </div>
    <div class="news_content">
        $intro
    </div>
</div>