<div class="activate_drop">
    
    <div id="session">
        <a id="signin_link" href="#">Login.<img src="./sm/nav/cpanel.png" alt=""/></a>
    </div>
            
        <div id="signin_dropdown">
            <form method="post" name="login" action="checklogin.php">
				<fieldset>
                <label class="username">
                <input id="username" name="ws_user" value="" placeholder="Username" type="text" autocomplete="on">
                </label>
                
                <label class="password">
                <input id="password" name="pwd" value="" placeholder="Password" type="password">
                </label>

                <button class="button" type="submit">Sigin In</button>
                <a href="lostpassword/">Lost password?</a>
                <p><a class="button" href="register/">Register Account</a></p>
                </fieldset>
                      
            </form>
        </div>
        
</div>