<div class="activate_drop">    
    <div id="session">
        <a id="signin_link" href="#">Cpanel<img src="./sm/nav/cpanel.png" alt=""/></a>
    </div>            
        <div id="signin_dropdown" style="min-width:250px; min-height:124px;">        
        	<div id="logged">                    
                <div class="logged_user">$l_avatar<span>Welcome back!</span><br/>$username</div>
                <div class="user_links"><a href="settings/">Edit Settings</a>$admin<a href="logout">Logout</a></div>          
            </div> 
        </div>
</div>