<div id="news_comments" style="margin-bottom:10px;">
    <div class="news_comments_header" style="background:url($rubricpic) left;">
    
        <div class="news_comments_headline">
            
            <span>$anzcomments<img src="sm/background/comments_icon.png" alt="comments"/></span>
            
            <div class="news_comments_overlay">
            $pic
            <small>$date</small><br/>
            <a href="$categoryname/$newsID/">$headline</a>
            </div>
                       
        </div>
    
    </div>
 
    <div class="news_content">
        $intro    
	</div>
    
    <div class="news_footer">
    <p style="float:left; padding-left:10px;">Written By $poster</p>
    <p><a href="$categoryname/$newsID/">Read More</a></p>
    </div> 
    
</div>