<h3>News</h3>
<div id="news_comments">
    <div class="news_comments_header" style="background:url($rubricpic) left;">
    
        <div class="news_comments_headline">
    
            <div class="news_comments_admin">$adminaction $unpublishs</div>
        
            <span>$anzcomments<img src="sm/background/comments_icon.png" alt="comments"/></span>
            
            <div class="news_comments_overlay">
            $pic
            <small>$date</small><br/>
            $headline
            </div>
                       
        </div>
    
    </div>
 
    <div class="news_content">
        $content
    </div>
    
    <div class="news_footer">
    
         <div class="news_share">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <span class='st_reddit_hcount' displayText='Reddit'></span>
     </div>   

    <p>Written By $poster</p>
    </div> 
    
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-7d53fc6f-e9b8-12d2-f027-7e13e87635d2", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
</div>